@font-face {
    font-family: "페이퍼로지";
    src: url("../font/Paperlogy-1Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "페이퍼로지";
    src: url("../font/Paperlogy-2ExtraLight.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "페이퍼로지";
    src: url("../font/Paperlogy-3Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "페이퍼로지";
    src: url("../font/Paperlogy-4Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "페이퍼로지";
    src: url("../font/Paperlogy-5Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "페이퍼로지";
    src: url("../font/Paperlogy-6SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "페이퍼로지";
    src: url("../font/Paperlogy-7Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "페이퍼로지";
    src: url("../font/Paperlogy-8ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "페이퍼로지";
    src: url("../font/Paperlogy-9Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}