.tabs{
    display: flex;
    gap:10px;
}
.tabs div{
    border:1px solid #000;
    cursor: pointer;
    /* 선택사항 */
    padding:4px 12px;
}
.tabs div.on{
    /* 꾸미기 선택사항 */
    background-color: blue;
    color:#fff;
}
.tab-contens>div{
    display: none;
}
.tab-contens>div.on{
    display: block;
}