.a{
    width:100px;
    height:100px;
    background-color: red;
    transition:
    width 2s ease 0s,
    padding 1s ease 2s;
}
.a:hover{
    background-color: blue;
    width:200px;
    color:#fff;
    padding:30px;
}
.a:active{
    border:4px solid lime;
}
.b::before{
    content:'';
    border:1px solid red;
    display: block;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b:after{
    content:'열심히 하겠습니다!';
    border:1px solid blue;
}
