@charset 'utf-8';
*{margin:0;padding:0;}
ul{list-style: none;}
img{max-width: 100%;}
a{text-decoration: inherit;color:inherit;}

.modal{display: none;}
.popup{display: none;}

.container{
    display: flex;
    height:calc(100dvh - 120px);
}
header{
    width:200px;
}
.logo{
    text-align: center;
    margin-bottom: 20px;
}
.gnb{
    width:180px;
    margin:0 auto;
}
.gnb a{
    display: flex;
    width:180px;
    height:50px;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
}
.gnb>li{
    position: relative;
}
.gnb ul{
    position: absolute;
    left:180px;
    top:0;
    background-color: rgba(0, 0, 0, 0.78);
    opacity: 0;
    pointer-events: none;
    color:#fff;
    transition: all 0.5s ease 0s;
}
.gnb>li:hover ul{
    opacity: 1;
    pointer-events: auto;
}
.gnb li:hover>a{
    background-color: #000;
    color:#fff;
}



main{
    width:400px;
}

.banner{
    display: flex;
    gap:10px;
    padding:10px;
}
.banner figure{
    width:100px;
    flex-shrink: 0;
}
.notice{
    padding:10px;
}
.notice h2{
    margin-bottom: 10px;
}
.notice li{
    display: flex;
    justify-content: space-between;
}
.gallery{
    padding:10px;
}
.gallery h2{
    margin-bottom: 10px;
}
.gal{
    display: flex;
    gap:10px;
}
.gal a{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.direct{
    padding:10px;
}
.dir{
    display: flex;
    gap:10px;
}
.dir a{
    display: flex;
    flex-direction: column;
}
.dir a img{
    width:80px;
    aspect-ratio: 1/1;
}

.station{
    width:calc(100% - 600px);
    overflow: hidden;
}
.train{
    width:300%;
    height: 100%;
    transition: all 1s ease 0s;
    display: flex;
}
.train>div{
    flex:1;
    line-height: 0;
}
footer{
    display: flex;
    height:120px;
    background-color: #000;
    color:#fff;
    gap:10px;
    align-items: center;
}
.fcon{
    flex-grow: 1;
}
.fmenu{
    display: flex;
    gap:10px;
}


