@charset 'utf-8';
*{margin:0;padding:0;}
ul{list-style: none;}
a{text-decoration: inherit;color:inherit;}
img{max-width: 100%;}

html{
    background-color: #fff;
    color:#333;
}
.popup{
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width:300px;
    padding:30px;
    z-index: 1000;
    display: none;
}
.popup.on{
    display: block;
}
.popup-ctl{
    display: flex;
    justify-content: flex-end;
}
.container{
    display: flex;
    overflow-x: hidden;
}
header{
    width:200px;
    background-color: bisque;
    position: relative;
    z-index: 100;
}
.logo{
    margin-bottom: 20px;
}
.gnb{
    width:180px;
    margin:0 auto;
}
.gnb a{
    display: flex;
    width:180px;
    height:50px;
    justify-content: center;
    align-items: center;
}
.gnb>li{
    position: relative;
}
.gnb ul{
    position: absolute;
    left:180px;
    top:0;
    background-color: #fff;
    display: flex;
    width:100vw;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease 0s;
}
.gnb:hover ul{
    opacity: 1;
    pointer-events: auto;
}
.gnb li:hover>a{
    background-color: #333;
    color:#fff;
}

main{
    width:calc(100% - 200px);
}
.station{
    width:100%;
    height:400px;
}
.train{
    width:100%;
    height:100%;
    position: relative;
}
.train>div{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease 0s;
}
.train>div.on{
    opacity: 1;
    pointer-events: auto;
}
.direct{
    height:150px;
}
.direct ul{
    display: flex;
    justify-content: space-between;
    height:100%;
    align-items: center;
    padding:0 30px;
    /* gap:20px; */
}
.direct ul li{}
.direct ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contents{
    display: flex;
    height:250px;
}
.contents section{
    flex:1;
    padding:10px;
}
.contents section h2{
    margin-bottom: 20px;
}
.notice li{
    display: flex;
    justify-content: space-between;
}
.gallery{
    display: flex;
    gap:10px;
}
.gallery a{
    display: flex;
    flex-direction: column;
}
footer{
    background-color: #000;
    color:#fff;
    height:120px;
    display: flex;
    align-items: center;
    padding-left: 200px;
}
footer>div{flex-grow: 1;}
.footmenu{
    display: flex;
    gap:10px;
}
footer form{
    width:200px;
}

