*{margin:0;padding:0;}
.box{
    border:10px solid #000;
    width:400px;
    height:400px;
    position: relative;
    left:100px;
    top:100px;
}
.box .a{
    width:100px;
    height:100px;
    background-color: red;
    position: absolute;
    right:0px;
    bottom:0px;
    z-index: 10;
}
.box .b{
    width:100px;
    height:100px;
    background-color: blue;
    position: absolute;
    right:50px;
    bottom:50px;
    z-index: 20;
}
.box .c{
    background-color: green;
    position: fixed;
    right:100px;
    top:100px;
}