.box{
    background-color: pink;
    height:800px;
    position: relative;
}
.a{
    
    background-color: red;
    position: absolute;
    /* left:calc(50% - 100px);
    top:calc(50% - 100px); */
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}