*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{
    font-size:inherit;
    font-weight: inherit;
}
address{
    font-style: inherit;
}
ol,ul{list-style: none;}
a{
    text-decoration: inherit;
    color:inherit;
}
img{
    max-width: 100%;
}
