.popup{
    position: fixed;
    left:calc(50% - 250px);
    top:50%;
    width:500px;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: rgba(77, 63, 236, 0.74);
    padding:20px 50px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
}
.popup.off{
    display: none;
}
.popup figure{margin: 0;}
.popup img{
    width: 100%;
}
.controler{
    display: flex;
    justify-content: space-between;
}
.controler span{
    cursor: pointer;
}