@charset 'utf-8';
*{margin:0;padding:0;}
a{text-decoration: inherit;color:inherit;}
img{max-width: 100%;}
ul{list-style: none;}

html{
    background-color: #fff;
    color:#333;
}
.popup{
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:300px;
    padding:30px;
    background-color: #fff;
    display: none;
    z-index: 1000;
}
.popup.on{
    display: block;
}
.popup-ctl{
    display:flex;
    justify-content: flex-end;
}
.popup-ctl span{
    cursor: pointer;
}
header{
    height:100px;
    position: relative;
    z-index: 100;
    background-color: beige;
}
header .inner-frame{
    width:1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;;
    margin-top: 25px;
    margin-right: 25px;
    align-self: flex-start;
}
.gnb a{
    background-color: #fff;
    display: flex;
    width:150px;
    height:50px;
    justify-content: center;
    align-items: center;
}
.gnb>li{
    height:50px;
    overflow: hidden;
    transition:all 0.5s ease 0s;
}
.gnb>li:hover{
    height:250px;
}
.gnb li:hover>a{
    background-color: #000;
    color:#fff;
}

.station{
    width:1200px;
    height:300px;
    margin:0 auto;
    overflow: hidden;
}
.train{
    width:100%;
    height:300%;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease 0s;
}
.train>div{
    flex:1;
    line-height: 0;
}
.contents{
    display: flex;
    width:1200px;
    height:200px;
    margin:0 auto;
}
.contents > section{
    flex:1;
    padding:10px;
}
.contents section h2{
    margin-bottom: 10px;
}
.notice li{
    display: flex;
    justify-content: space-between;
}
.gal{
    display: flex;
    gap:10px;
}
.banner{
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner a{
    background-color: beige;
    padding:6px 16px;
}
footer{
    height:100px;
    background-color: gray;
}
footer .inner-frame{
    width:1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
}
.sns{
    display: flex;
}
.logo-foot{
    line-height: 0;
}