html{
    font-family: 'Pretendard',sans-serif;
    font-size: 20px;
}
main{
    padding:3.75rem 0;
}
.inner-frame{
    width:1440px;
    margin:0 auto;
}
.title{
    margin-bottom: 5rem;
}
.title h1{
    padding:1rem 0;
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}
.title p{
    line-height: 140%;
    text-align: center;
}

.banner{
    margin-bottom: 2.5rem;
    height:441px;
}

.banner img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.values h2{
    padding:.5rem 0;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 100%;
}
.values ul{
    text-align: center;
    line-height: 100%;
}
.values ul li{
    margin-bottom: .5rem;
}
.values ul li:last-of-type{
    margin-bottom: 0;
}

@media (max-width:1440px){
    html{
        font-size: 18px;
    }
    .inner-frame {
        width: auto;
        margin: 0 2rem;
    }
    .title p br{display: none;}
}
@media (max-width:768px){
    html{
        font-size:14px;
    }
    .inner-frame {
        width: auto;
        margin: 0 1rem;
    }
}